div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.world {
    background: url("images/image1234.jpg") no-repeat;;
}

.pictures{
    width:1000px;
    height: 1000px;
    display: inline-block;
    background-position: 0 0;
}
a[href="https://Shkolladigjitale.com"]{
    color: blue;
}
[date-value]{
    /* Attribute exists */
}
[date-value="foo"]{
    /* Attribute has this exact value */
}
[date-value*=foo]{
    /* Attribute value that it contains this value somewhere in it */
}
[date-value~=foo]{
    /* Attribute value has been space-seperated list somewhere*/
}