ul{
    border-left: 5px solid green;
    background-color: white;
    list-style-type: upper-roman;
    padding: 15px 25px;
    font-size: 20px;
}

ol{
    list-style-type: upper-roman;
    background: red;
    padding: 15px;
}
ol li {
    background: blue;
    padding: 10px;
    margin-left: 30px;
}
ul li {
   padding: 8px 16px;
   border-bottom: 2px solid gray;
}
tr{
    border-collapse: collapse;
}