.div{
    width: 200px;
    height:200px;
    border-radius: 5px;
    background-color: blue;
    transform: skewy(40deg);
    padding: 10px;
    color:white;
}
#Teams img{
    transform: scale(1);
    transition: .3s ease-in-out;
}
#teams:hover img{
    transform: scale(1.3);
}
 
#chelsea img{
    margin-left: 0px;
    transition: .3s ease-in-out;
}
#chelsea:hover img{
    margin-left: 30px;
}

#portugal img{
    filter: blur(3px);
    transition: .3s ease-in-out;
}
#portugal:hover img{
    filter: blur(0);
}

#brazil img{
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}
#brazil:hover img{
    filter: grayscale(0);
}
.loader img{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin-left: 8px;
    animation: bounce 8s infinite alternate;
}
@keyframes bounce {
    to{
        width: 150px;
        height: 150px;
        transform: translate3d(0, -50px, 0);
    }
}